@font-face {
	font-family: 'OpenSans';
	src: url('./fonts/OpenSans-Regular.eot');
	src: local('☺'), url('./fonts/OpenSans-Regular.woff') format('woff'), url('./fonts/OpenSans-Regular.ttf') format('truetype'), url('./fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Play';
	src: url('./fonts/Play-Regular.eot');
	src: local('☺'), url('./fonts/Play-Regular.woff') format('woff'), url('./fonts/Play-Regular.ttf') format('truetype'), url('./fonts/Play-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	background-color: #fff;
	font-family: 'OpenSans';
	margin: 0;
	height: 100%;
}

img {
	border: 0;
}

.App header, footer, section {
    flex-shrink: 0;
}

.App {
    display: flex;  
	flex-direction: column;	
}

.clearfix:after, section:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}

/*------------------------------ HEADER ------------------------------*/
.App header {
    display: flex;
	background-color: #eee;
	border-bottom: 1px solid #e6e6e6;
    padding: 27px 0;
    width: 100%;   
    justify-content: center; 
}

/** Logo **/
.App header .logo {
	float: left;
	margin-right: 20px;
}
.App header .logo a {
	background: url(images/logo.png) no-repeat center/100%;
	color: #000;
	display: block;
	font: 15px/30px 'Play';
	height: 20px;
	width: 76px;
	padding-top: 68px;
	text-decoration: none;
	text-transform: uppercase;
}
/** Navigation **/
.App nav {
	list-style: none;
	line-height: 100px;
	margin: 0;
    padding: 0;    
}
.App nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.App nav li {
	float: left;
	width: 160px;
	text-align: center;
}
.App nav li a {
	color: #818181;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}
.App nav li a:hover {
	color: #000;
}
.App nav li.active a {
	color: #f99600;
}

/*------------------------------ CONTENTS ------------------------------*/
.App section {
    width: 100%;
	margin: 0 auto;
	min-height: 70vh;
	flex-shrink: 0;
}

h1 {
	color: #3e3e3e;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
}
p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}
p a {
	color: #585858;
}

/*------------------------------ FOOTER ------------------------------*/
footer {
	display: flex;
	flex-direction: row;
	background-color: #eee;
	border-top: 1px solid #d8d8d8;
    padding: 30px 0;
	justify-content: center;
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
}

footer p {
	font-size: 12px;
	line-height: 30px;
	padding-left: 10px;
}

.connect {
	display: inline-block;
	margin: 0 0 0 60px;
}
.connect a {
	background: url(images/icons.png) no-repeat;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 0 10px;
}
.connect a.googleplus {
	background-position: 0 -40px;
}
.connect a.twitter {
	background-position: 0 -80px;
}
.connect a.tumbler {
	background-position: 0 -120px;
}
.connect a.facebook:hover {
	background-position: -40px 0;
}
.connect a.googleplus:hover {
	background-position: -40px -40px;
}
.connect a.twitter:hover {
	background-position: -40px -80px;
}
.connect a.tumbler:hover {
	background-position: -40px -120px;
}
